.offersPage{
    margin: 15px;
    /* display: block; */
    /* justify-content: center; */
    text-align: center;
}

.buttons{
    padding: 10px;
    display: flex;
    justify-content: space-between !important;
}

.leftButton{
    margin-left: 4vw;
}

.rightButton{
    margin-right: 4vw;
}

.nodata{
    margin-top: 10vh;
    padding: 20px;
}

.offers{
    margin-top: 3vh;
    display: flex;
}