<div>

    <h2>OFFERS PAGE</h2>

    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">ADD OFFER</button>

    <app-offer *ngFor="let off of dummy_offer;let indexOfOffer=index;"
        [offer] = "off"
        (offerDelete)="deleteOffer($event)"
        (offerModify)="modifyOffer($event,indexOfOffer)">
    </app-offer>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Offer</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="price" class="form-label">Price : </label>
          <input type="number" class="form-control" (keyup)="onKeyPrice($event)" min="1" name="price" />
          
          <label for="discount" class="form-label">Discount : </label>
          <input type="number" class="form-control" (keyup)="onKeyDiscount($event)" max="99" min="1" minlength="1" maxlength="2" name="discount"/>
          
          <label for="startDate" class="form-label">Start Date</label>
          <br />
          <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date1 = $event.next" name="startDate"></ngb-datepicker>
          <br />
          <!-- <div class="input-group">
            <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" formControlName="startDate">
            <button class="btn btn-outline-secondary calendar" (keyup)="onKeyStartDate($event)" (click)="dp.toggle()" type="button"></button>
          </div>
          
          <div class="input-group">
            <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #dp1="ngbDatepicker" formControlName="endDate">
            <button class="btn btn-outline-secondary calendar" (keyup)="onKeyEndDate($event)" (click)="dp1.toggle()" type="button"></button>
          </div> -->
          <label for="endDate" class="form-label">End Date</label>
          <br />
          <ngb-datepicker #dp [(ngModel)]="model1" (navigate)="date2 = $event.next" 
          [minDate]="model" name="endDate"></ngb-datepicker>

        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>